#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.yaml-editor-host {
  width: 100%;
}

.yaml-resource-tabs,
.yaml-resource-tabs .ant-tabs-content-holder,
.yaml-resource-tabs .ant-tabs-content,
.yaml-resource-tabs .ant-tabs-tabpane-active {
  height: 100%;
}
